body{
    background-color:black;}
    p{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        letter-spacing: 2px;
    }
    mark{
        background-color: white;
        color: black;
    }
        a:link 
        {color: black;
        background-color: white;
        text-decoration: none;
        }
        a:visited 
        {color: black;
        background-color: transparent;
        text-decoration: none;}
        a:hover
        {color:black;
        background-color: mediumvioletred;
        text-decoration: none;}
        a:active 
        {color: white;
        background-color: black;
        text-decoration: underline;}
/*Formatação de imagens com legendas*/