body{
    background-color:black;}
    p{color: white;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        letter-spacing: 2px;
    
    }
    mark{background-color: black;
        color:white
    }
        a:link 
        {color: white;
        background-color: black;
        text-decoration: none;
        }
        a:visited 
        {color: white;
        background-color: transparent;
        text-decoration: none;}
        a:hover
        {color:black;
        background-color: mediumvioletred;
        text-decoration: none;}
        a:active 
        {color: white;
        background-color: black;
        text-decoration: underline;}
         button:link 
        {color: white;
        background-color: black;
        text-decoration: none;
        border: none;
        padding: auto;
        text-align: center;
        display: inline-block;
        font-size: 110%;
        }
        button:visited 
        {color: white;
        background-color: transparent;
        text-decoration: none;}
        button:hover
        {color:black;
        background-color: mediumvioletred;
        text-decoration: none;}
        button:active 
        {color: white;
        background-color: black;
        text-decoration: underline;}
/*Formatação de imagens com legendas*/